.about-section-container { 
    padding-top: 5rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.about-hero {
    margin-inline: auto;
    text-align: center;
    height: 120vh;
    height: 120svh;
    background-color: rgb(69, 37, 99);

    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.about-hero > * {
    grid-row: 1;
    grid-column: 1;
}

.about-hero-header {
    margin-top: 5rem;
    text-wrap: balance;
    font-weight: 700; 
    z-index: 2;
    transform: translateY(calc(0.5vh * var(--scroll)));
}

.about-hero-picture {
    width: 12%;
    height: 80%;
    background-color: red;
    align-self: end;
    z-index: 3;
}

.about-hero-paragraph {
    margin-inline: 20%;
    position: relative;
    top: -8rem;
    align-self: center;
    text-wrap: pretty;
    font-weight: 500;
    font-family: var(--ff-primary);
    font-size: var(--fs-h4);
    line-height: 1.4;
    z-index: 4;
    transform: translateY(calc(0.5vh * var(--scroll)));
}