.projects-grid {
    --grid-column-count: 3;
    --projects-animation-duration: 500ms;

    display: grid;
    grid-template-columns: repeat(var(--grid-column-count), 1fr);

    & a {
        text-decoration: none;
    }

    & h4 {
        width: 100%;
        text-align: center;
        opacity: 0;
        z-index: 2;
        transition: opacity var(--projects-animation-duration);
        color: var(--clr-light);
        margin-bottom: 1rem;
        font-weight: 600;
    }
}

.projects-grid-card {
    border: 1px solid transparent;
    transition: filter var(--projects-animation-duration);
    position: relative;
    max-width: 100%;
    aspect-ratio: 16 / 9;
}

.projects-grid-card-preview {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.project-thumbnail {
    object-fit: cover;
    transition: filter var(--projects-animation-duration);
}

.project-logo {
    object-fit: contain;
    place-self: center;
    max-width: 40%;
    max-height: 40%;
    transition: transform var(--projects-animation-duration);
}

/* only include hover effects if not on a mobile device */
@media (width > 480px) {
    .projects-grid a {
        filter: brightness(.75) saturate(.75);
    }

    .projects-grid a:hover {
        filter: brightness(1) saturate(1.5);

        & .project-logo {
            transform: translateY(-1rem);
        }

        & h4 {
            opacity: 1;
        }
    }
}

.stacked {
    display: grid;
    align-items: end;
}

/* all direct children of stacked class stacked on top of each by putting them in same row and column */
.stacked>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

@media (580px < width < 880px) {
    .projects-grid {
        --grid-column-count: 2;
    }
}

@media (width <=580px) {
    .projects-grid {
        --grid-column-count: 1;
    }
}

@media (width <=480px) {
    .project-logo {
        /* place-self is not supported for some reason on IOS Safari */
        place-self: unset;
        inset: 50%;
        transform: translate(-50%, -50%);
    }
}