.parallax-scroll-gallery {
    --parallax-scroll-gap: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--parallax-scroll-gap);
    position: relative;
    overflow: hidden;
    height: 200svh;
    height: 200vh;
}

.parallax-scroll-column:nth-child(1) {
    top: -136%;
}

.parallax-scroll-column:nth-child(2) {
    top: -111%;
}

.parallax-scroll-column:nth-child(3) {
    top: -130%;
}

@media (width < 1240px) {
    .parallax-scroll-column:nth-child(1) {
        top: -110%;
    }

    .parallax-scroll-column:nth-child(2) {
        top: -100%;
    }

    .parallax-scroll-column:nth-child(3) {
        top: -114%;
    }
}

@media (width < 1000px) {
    .parallax-scroll-column:nth-child(1) {
        top: -100%;
    }

    .parallax-scroll-column:nth-child(2) {
        top: -100%;
    }

    .parallax-scroll-column:nth-child(3) {
        top: -102%;
    }
}

@media (width < 800px) {
    .parallax-scroll-gallery {
        --parallax-scroll-gap: 1.25rem;
    }

    .parallax-scroll-column:nth-child(1) {
        top: -88%;
    }

    .parallax-scroll-column:nth-child(2) {
        top: -80%;
    }

    .parallax-scroll-column:nth-child(3) {
        top: -97%;
    }
}

@media (width < 600px) {
    .parallax-scroll-gallery {
        --parallax-scroll-gap: 1rem;
    }

    .parallax-scroll-column:nth-child(1) {
        top: -82%;
    }

    .parallax-scroll-column:nth-child(2) {
        top: -78%;
    }

    .parallax-scroll-column:nth-child(3) {
        top: -88%;
    }
}