.production-carousel-card {
    display: grid;
    grid-template-rows: 1fr;
    aspect-ratio: 14/9;
    flex-shrink: 0;
    position: relative;
    transition: filter var(--production-carousel-animation-duration);
}

.production-carousel-card>* {
    grid-column: 1/-1;
}

.production-carousel-card-img {
    z-index: 1;
}

.production-carousel-card-video {
    position: absolute;
    inset: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.production-carousel-card-logo {
    z-index: 2;
    object-fit: contain;
    place-self: center;
    max-width: 40%;
    max-height: 40%;
    transition: transform var(--production-carousel-animation-duration);
}