/* TIMELINE */

.story-timeline-item {
    /* variables */
    --timeline-circle-width: 4rem;
    --padding-inline: 2rem;
    --gap: 2rem;

    scroll-snap-align: start;
    position: relative;
    width: 100%;
    height: 100%;
    /* setting height to 100vh messes with the actual height
     and causes the grid to overflow from the parent, hiding the footer on last one
     but I think it looks better if we dont do 100vh */
    padding-inline: var(--padding-inline);
    display: grid;
    gap: var(--gap);
    grid-template-areas: 'text text text text timeline'
    'images images images images images';

    /* maybe an explicit grid would be better, especially if we set the parent height 
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 4fr; */


}

@media (width < 580px) {
    .story-timeline-item {
        --padding-inline: 1rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
        'text text text text timeline'
        'images images images images images';
        /* REDO THIS FUCKING LAYOUT 
         WANT TIMELINE AND DATE ON TOP ROW
         TEXT ON SECOND ROW BY ITSELF
         IMAGES ON THIRD ROW
        
         currently wasting a lot of space and bad on small screen sizes
         get x-overflow on width < 370 pixels
        */
    }
}

.story-timeline-paragraph {
    margin-block: 1rem;
    text-align: center;
    font-size: var(--fs-body);
    grid-area: text;
    position: relative;
    top: 3rem;
}

.story-section-timeline-circle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: timeline;
    align-self: start;
}

.story-timeline-circle {
    border-color: var(--clr-light);
    border-radius: 50%;
    border: 3px solid;
    width: var(--timeline-circle-width);
    height: var(--timeline-circle-width);
    /* z-index + background color to hide white lines from going inside circle*/
    position: relative;
    z-index: 30;
    background-color: var(--clr-dark);
    margin-block: 20px;
    margin-left: 8px;
    flex-shrink: 0;

}

.story-timeline-item-images-container {
    grid-area: images;
    z-index: 3;
    justify-self: center;
    margin-block: 1rem;
}

/* before/after elements */

.story-timeline-item::before {
    display: block;
    content: '';
    position: absolute;
    top: 4%;
    left: calc(100% - (var(--padding-inline) + (var(--timeline-circle-width) / 2)));
    width: 0.25rem;
    height: 105%;
    background-color: var(--clr-light);
    z-index: 1;
     transform: translateX(-50%) 
}

.last-timeline-item::before {
    background: linear-gradient(var(--clr-light) 0%, var(--clr-dark));
    height: 70%;
}