/* TIMELINE */

.story-timeline-item {
    scroll-snap-align: start;
    position: relative;
    width: 100%;
    height: 100%;
    /* setting height to 100vh messes with the actual height
     and causes the grid to overflow from the parent, hiding the footer on last one
     but I think it looks better if we dont do 100vh */
    padding-inline: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-areas: 'text text text text timeline'
    'images images images images images';

    /* maybe an explicit grid would be better, especially if we set the parent height 
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 4fr; */

    --timeline-circle-width: 4rem;
}

@media (width < 580px) {
    .story-timeline-item {
        width: 100%;
        height: 100%;
        padding-inline: 2rem;
        display: grid;
        gap: 2rem;
        grid-template-areas: 
        'text text text text timeline'
        'images images images images images';
    }
}

.story-timeline-paragraph {
    margin-block: 1rem;
    text-align: center;
    font-size: var(--fs-body);
    grid-area: text;
    position: relative;
    top: 3rem;
}

.story-section-timeline-circle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: timeline;
    align-self: start;
}

.story-timeline-circle {
    border-color: var(--clr-light);
    border-radius: 50%;
    border: 3px solid;
    width: var(--timeline-circle-width);
    height: var(--timeline-circle-width);
    /* z-index + background color to hide white lines from going inside circle*/
    position: relative;
    z-index: 30;
    background-color: var(--clr-dark);
    margin-block: 20px;
    margin-left: 8px;
}

.story-timeline-item-images-container {
    grid-area: images;
    z-index: 3;
    justify-self: center;
    margin-block: 1rem;
}

/* before/after elements */
/* .story-timeline-item::before {
    display: block;
    content: '';
    position: absolute;
    top: 4%;
    left: calc(100% - var(--timeline-circle-width));
    width: 0.25rem;
    height: 105%;
    background-color: var(--clr-light);
    z-index: 1;
     transform: translateX(-50%) 
} */

.story-timeline-circle::before {
    display: block;
    content: '';
    background-color: var(--clr-light);
    width: 0.25rem;
    height: 60rem; /* need to play with height here,
    find a better way instead of setting a damn manual height */
    /* should use a last child selector and finish height of smoothly instead of making it keep going*/
    position: relative;
    z-index: 1;
    left: 50%;
    top: 100%;
    transform: translateX(-50%)   
}

.last-timeline-item::before {
    background: linear-gradient(var(--clr-light) 0%, var(--clr-dark));
}