.about-container {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.about-section-hero-container {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.about-hero {
    margin-inline: auto;
    text-align: center;
    height: 120vh;
    height: 120svh;
    background-color: rgb(69, 37, 99);

    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.about-hero>* {
    grid-row: 1;
    grid-column: 1;
}

.about-hero-header {
    margin-top: 5rem;
    text-wrap: balance;
    font-weight: 700;
    z-index: 2;
    transform: translateY(calc(0.5vh * var(--scroll)));
}

.about-hero-picture {
    width: 12%;
    height: 80%;
    background-color: red;
    align-self: end;
    z-index: 3;
}

.about-hero-paragraph {
    margin-inline: 20%;
    position: relative;
    top: -8rem;
    align-self: center;
    text-wrap: pretty;
    font-weight: 500;
    font-family: var(--ff-primary);
    font-size: var(--fs-h4);
    line-height: 1.4;
    z-index: 4;
    transform: translateY(calc(0.5vh * var(--scroll)));
}

.about-services-section {
    padding-top: 10vh;
    padding-top: 10svh;
    width: 100%;
    margin: auto;
    padding-bottom: var(--section-padding-block);
}

.about-story-section {
    --about-story-columns: 1fr 1fr;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: var(--section-padding-block);
    text-align: center;
    display: grid;
    grid-template-columns: var(--about-story-columns);
    place-items: center;
    gap: 1rem;
}

.about-story-section-title h3 {
    margin-bottom: 1rem;
}

.about-story-logo {
    max-width: 80%;
}

.about-story-image-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.about-story-image-grid img {
    position: relative;
    max-height: 360px;
    object-fit: cover;
    border: 2px solid var(--clr-light);
}

.about-story-image-grid img:nth-child(1) {
    align-self: end;
    justify-self: end;
}

.about-story-image-grid img:nth-child(2) {
    max-height: 400px;
    align-self: end;
    justify-self: start;
    margin-left: -2rem;
}

.about-story-image-grid img:nth-child(3) {
    align-self: start;
    justify-self: end;
    right: -2rem;
    z-index: 1;
}

.about-story-image-grid img:nth-child(4) {
    max-height: 400px;
    align-self: start;
    justify-self: start;
}

@media (width < 880px) {
    .about-story-section {
        --about-story-columns: 1fr;
    }
}