.about-container {
  background-color: var(--clr-dark);
  color: var(--clr-light);

  --about-grid-template-columns: 1fr 3fr;
}

.about-philosophy-section,
.about-aim-section {
  padding-block: var(--section-padding-block);
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: var(--about-grid-template-columns);
}

.about-philosophy-section h3,
.about-aim-section h3 {
  color: var(--clr-accent);
  font-family: var(--ff-secondary);
}

.about-philosophy-paragraph {
  font-size: var(--fs-h4);
  text-align: left;
  text-wrap: pretty;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  margin-inline: auto;
  font-size: var(--fs-h2);
}

.about-aim-text {
  display: grid;
  align-items: start;
  grid-template-rows: fit-content 2fr 2fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.about-aim-text h4 {
  grid-column: 1/-1;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--fs-h3);
}

@media (width < 880px) {
  .about-aim-text {
    grid-template-rows: unset;
    grid-template-columns: 1fr;
  }
}

@media (width < 580px) {
  .about-container {
    --about-grid-template-columns: 1fr;
  }
}
