.home-faq-section {
    padding-block: var(--section-padding);
    color: var(--clr-dark);
    background-color: var(--clr-light);
    text-align: center;

    & h3 {
        margin-block: 3rem;
    }

    & h3 h3 {
        display: inline;
        color: var(--clr-grey);
    }
}

.home-faq-container {
    margin: auto;
    padding-inline: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
}

.home-faq-container > img {
    max-height: 420px;
    aspect-ratio: 1;
    object-fit: cover;
    box-shadow: 2px 2px 2px var(--clr-dark);
}

@media (width < 1260px) {
    .home-faq-container {
        grid-template-columns: 1fr;
        padding-inline: 2rem;
    }
    .home-faq-container > img {
        display: none;
    }
}

@media (width < 440px) {
    .home-faq-container {
        padding-inline: 0.5rem;
    }
}