.short-form-container {
    --section-padding: 3rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.short-form-hero-section {
    padding-top: 5rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}