.insta-grid {
    width: '100%';
    display: grid;
    gap: 1em;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'one two three'
    'four five six';
    margin-inline: auto;
}

.insta-grid-item { 
    width: 100%;
    height: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
}

.insta-grid-item:nth-child(1) {
    grid-area: one;
}

.insta-grid-item:nth-child(2) {
    grid-area: two;
}

.insta-grid-item:nth-child(3) {
    grid-area: three;
}

.insta-grid-item:nth-child(4) {
    grid-area: four;
}

.insta-grid-item:nth-child(5) {
    grid-area: five;
}

.insta-grid-item:nth-child(6) {
    grid-area: six;
}

