.insta-grid {
    --grid-columns: 3;

    background-color: var(--clr-dark);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    margin: 1rem;
}

@media (440px < width <=820px) {
    .insta-grid {
        --grid-columns: 2;
    }
}

@media (width <= 440px) {
    .insta-grid {
        --grid-columns: 1;
    }
}

.insta-grid-item { 
    width: 100%;
    height: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
}

