.insta-section {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding-block: var(--section-padding-block);
    padding-inline: var(--section-padding-inline);
    display: flex;
    flex-direction: column;
    align-items: center;

    & a {
        display: block;
        width: fit-content;
    }
}

.insta-section-additional-title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 600;
}

.insta-title {
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    width: fit-content;
    margin-bottom: 0.25rem;
}

.insta-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background-color: var(--clr-light);
    transition: 300ms ease-in-out;
}

.insta-title:hover::after {
    width: 100%;
}