.service-container {
    width: 100%;
    margin-inline: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px 40px auto 60px;
    justify-items: center;
    align-items: center;
    gap: 4px;
    /* border: 2px var(--clr-light) solid; */
    /* border: 1px var(--clr-card-border) solid; */
    /* box-shadow: 0px 1px 4px 2px var(--clr-light); */
    border-radius: 12px;
    text-align: center;
    background: var(--card-background);
}

.service-icon {
    height: 80px;
    align-self: end;
}

.service-title {
    font-weight: 600;
}

.service-description {
    max-width: 80%;
}