.service-container {
    width: 100%;
    margin-inline: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px 40px auto 60px;
    justify-items: center;
    align-items: center;
    gap: 4px;
    /* border: 2px var(--clr-light) solid; */
    /* border: 1px var(--clr-card-border) solid; */
    /* box-shadow: 0px 1px 4px 2px var(--clr-light); */
    border-radius: 12px;
    text-align: center;
    background: var(--card-background);
}

.service-icon {
    height: 80px;
    align-self: end;
}

.service-title {
    font-weight: 600;
}

.service-description {
    max-width: 80%;
}

.service-learn-more-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 1rem;
}

.service-learn-more-text {
    margin-inline: 0.25rem;
}

.service-learn-more-icon {
    height: 16px;
    width: 16px;
    fill: var(--clr-light);
    stroke: var(--clr-light);
    stroke-width: 2;
    transition: all ease-in-out 200ms;
}

.service-learn-more-container:hover>svg {
    transform: translateX(40%);
}