.arrow-path-link {
    display: block;
    text-align: center;
    width: fit-content;
    margin-inline: auto;
}

.arrow-path-initial,
.arrow-path-final {
    display: block;
    transition: all 0.4s ease-in-out;
}

.arrow-path-final g path {
    fill: var(--clr-accent);
}

.arrow-path-svg {
    --arrow-dimensions: 22px;
    width: var(--arrow-dimensions);
    height: var(--arrow-dimensions);
    margin-inline: 0.5rem;
}

.arrow-path-link:hover h3 .arrow-path-svg g .arrow-path-initial {
    transform: matrix(1, 0, 0, 1, 72.5, -22.5);
}

.arrow-path-link:hover h3 .arrow-path-svg g .arrow-path-final {
    transform: matrix(1, 0, 0, 1, 25, 25);
}