.home-container {
    background-image: url("/src/assets/images/sunset-purple-tree.jpg");
    background-color: var(--clr-dark); /* Used if the image is unavailable */
    width: 100%;
    height: 500px; 
    background-position: center;
    background-size: cover;
}