.home-section-container {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    --section-padding: 3rem;
}

.home-hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    height: 90svh;
}

.home-hero-bg {
    background-color: var(--clr-dark); /* Used if the image is unavailable */
    width: 100%;
    height: 100%; 
    background-position: center;
    background-size: cover;
}

.home-hero-bg > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-hero-text {
    --home-pitch-top: 37%;
    --home-pitch-fs: 1.75rem;
    position: absolute;
    top: var(--home-pitch-top);
    color: var(--clr-light);
    text-align: center;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-pitch-section {
    padding-block: 10vh;
    padding-block: 10svh;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    width: 100%;
    margin: auto;
}

.home-pitch {
    line-height: 1.3;
    text-transform: uppercase;
    font-size: var(--home-pitch-fs);
    font-weight: 500;
}

.home-pitch-long {
    width: 80%;
    margin-inline: auto;
    text-align: center;
    text-wrap: balance;
    text-transform: uppercase;

    & h3 {
        font-weight: 800;
    }
}

.home-video-section {
    --video-max-height: 600px;
    --video-max-width: 640px;

    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding-block: var(--section-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.home-video-section video {
    border-radius: 24px;
}

.portrait {
    max-height: var(--video-max-height);
    max-width: 90%;
}

.landscape {
    width: 90%;
    max-width: var(--video-max-width);
}

.home-clients-section {
    padding-block: var(--section-padding);
    color: var(--clr-dark);
    background-color: var(--clr-light);
    text-align: center;

    & h3 {
        margin-block: 1.5rem;
        padding-inline: 2%;
    }
}

.home-services-section {
    --services-columns: 1fr;

    padding-block: var(--section-padding);
    padding-inline: 2rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: var(--services-columns);
    gap: 1rem;
}

@media (width > 880px) {
    .home-services-section {
        --services-columns: 1fr 1fr;
        gap: 2rem;
    }
}

.home-work-section {
    padding: var(--section-padding);
}

@media (width < 880px) {
    .home-hero-text {
        --home-pitch-top: 35%;
        --home-pitch-fs: 1.5rem;
    }
}

@media (width < 550px) {
    .home-hero-text {
        --home-pitch-top: 32%;
        --home-pitch-fs: 0.8rem;
    }
}