.home-section-container {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    --section-padding: 3rem;
}

.home-hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    height: 90svh;
}

.home-hero-bg {
    background-color: var(--clr-dark); /* Used if the image is unavailable */
    width: 100%;
    height: 100%; 
    background-position: center;
    background-size: cover;
}

.home-hero-bg > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-hero-text {
    --home-pitch-top: 38%;
    --home-pitch-fs: 1.75rem;
    position: absolute;
    top: var(--home-pitch-top);
    color: var(--clr-light);
    text-align: center;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-pitch {
    max-width: 50%;
    line-height: 1.2;
    font-size: var(--home-pitch-fs);
}

.home-pitch-long {
    width: 80%;
    margin-inline: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    text-wrap: balance;
    text-transform: capitalize;
    font-weight: 400;

    & h3 {
        font-weight: 800;
    }
}

.animated-text-container {
    overflow: hidden;
    height: calc(var( --fs-h3) + 1rem);
}

.animated-text-container h3 {
    animation: rotating 10s infinite ease;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.home-services-section {
    padding-top: 10vh;
    padding-top: 10svh;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    width: 100%;
    margin: auto;
}

.home-services-title {
    text-align: center;
    margin-bottom: 3rem;
}

h3 .grey {
    display: inline;
    color: var(--clr-grey);
}

.home-services-container {
    --services-grid-columns: 3;
    display: grid;
    grid-template-columns: repeat(var(--services-grid-columns), 1fr);
    justify-items: center;
    gap: 2rem;
    margin-inline: auto;
    width: 90%;
    padding-bottom: var(--section-padding);
}

.home-work-section {
    padding: var(--section-padding);
}

.home-stats-section {
    width: 100%;
    padding-inline: 5%;
    padding-top: var(--section-padding);
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin-inline: auto;
    text-align: center;
}

.home-stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.home-customer-experiences-section {
    padding-block: var(--section-padding);
    color: var(--clr-dark);
    background-color: var(--clr-light);
    text-align: center;

    & h3 {
        margin-block: 1.5rem;
    }
}

.home-faq-section {
    padding-block: var(--section-padding);
    color: var(--clr-dark);
    background-color: var(--clr-light);
    text-align: center;

    & h3 {
        margin-block: 3rem;
    }

    & h3 h3 {
        display: inline;
        color: var(--clr-grey);
    }
}

.home-faq-container {
    margin: auto;
    padding-inline: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
}

.home-faq-container > img {
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    box-shadow: 2px 2px 2px var(--clr-dark);
}

@media (width < 880px) {
    .home-faq-container {
        grid-template-columns: 1fr;
        padding-inline: 2rem;
    }
    .home-faq-container > img {
        display: none;
    }
}

@media (width < 440px) {
    .home-faq-container {
        padding-inline: 0.5rem;
    }
}

.home-clients-section {
    padding-block: var(--section-padding);
    color: var(--clr-light);
    background-color: var(--clr-dark);
    text-align: center;

    & h3 {
        margin-block: 1.5rem;
    }
}

.home-insta-section {
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;
    align-items: center;

    & a {
        display: block;
        width: fit-content;
    }
}

.home-insta-title {
    width: fit-content;
    margin-bottom: 0.25rem;
}

.home-insta-title::after, .home-insta-title::before {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background-color: var(--clr-light);
    transition: 300ms ease-in-out;
}

.home-insta-title:hover::after {
    width: 100%;
}

@media (width < 880px) {
    .home-hero-text {
        --home-pitch-top: 35%;
        --home-pitch-fs: 1.5rem;
    }
    .home-services-container {
        --services-grid-columns: 1;
    }
    .home-stats-container {
        grid-template-columns: 1fr;
    }
}

@media (width < 550px) {
    .home-hero-text {
        --home-pitch-top: 33%;
        --home-pitch-fs: 0.8rem;
    }
}

@keyframes rotating {
    0%, 100% {
        transform: translateY(-20%);
    }
    25% {
        transform: translateY(-125%)
    }
    50% {
        transform: translateY(-250%)
    }
    75% {
        transform: translateY(-375%)
    }
}