.navigation-container {
    --menu-height: 6em;
    --bar-height: 0.25rem;
    --bar-width: 2rem;
    --max-logo-height: 4;
    --max-logo-difference: 2;
}

.sticky-navigation-container {
    position: sticky;
    top: 0;
    z-index: 2;
}

nav {
    width: 100%;
    height: var(--menu-height);
    /* background starts transparent and becomes opacity 1 when --scroll reaches 33.3vh */
    background-color: rgb(0, 0, 0, calc((min(var(--scroll), 33.3)/ 33.3)));
    display: grid;
    align-items: center;
    grid-template-rows: calc(var(--menu-height) - 2rem);
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    position: absolute;
    z-index: 100;
}

nav > * {
    grid-row: 1;
}

.nav-socials {
    grid-column: 1;
}

.nav-title {
    grid-column: 2;
    display: inline-block;
    color: var(--clr-light);
    text-shadow: 2px 2px var(--clr-accent);
    justify-self: center;
    align-self: center;
    transform: translateY(calc(33.3vh - 1vh * min(var(--scroll), 33.3)));
    font-size: max(1rem * calc(var(--max-h1-size) - (min(var(--scroll), 33.3) * (var(--max-h1-difference) / 33.3))), var(--fs-h1));
    /*
    (oldVal - oldMin) * newRange / oldRange + newMin
    Start at 6rem then decrease linearly as we scroll until with a min value of var(--fs-h1)
    */
}

.nav-logo {
    grid-column: 2;
    justify-self: center;
    align-self: center;
    max-width: fit-content;
    transform: translateY(calc(33.3vh - 1vh * min(var(--scroll), 33.3)));
    height: min(1rem * calc(var(--max-logo-height) - (min(var(--scroll), 33.3) * (var(--max-logo-difference) / 33.3))), 1rem * var(--max-logo-height));
    /*
    (oldVal - oldMin) * newRange / oldRange + newMin
    Start at max size then decrease linearly as we scroll, pick the minimal value between the 2
    */
}

.burger-menu {
    grid-column: 3;
    width: var(--bar-width);
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    cursor: pointer;
}

.burger-bar {
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--clr-light);
    border-radius: 0.5em;
}

#menu-container {
    position: fixed;
    z-index: 99;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--clr-dark);
    transition: all 0.6s ease;
}

.menu {
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.7s ease;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-light);
    padding: 20px;
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    filter: brightness(.5);
    transition: all .3s ease-in-out
}

.link:hover {
    transform: scale(1.2);
    filter: brightness(1);
}


/*----- animations----*/
/* clicked */
.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.325em, 0.625em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0.01);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.325em, 0.75em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: ease-out 0.5s;
}

/* Responsiveness */
@media (width < 880px) {
    .navigation-container {
        --max-logo-height: 3;
        --max-logo-difference: 1;
    }
    .nav-socials {
        display: none;
    }
}

@media (width < 440px) {
    .navigation-container {
        --max-logo-height: 1.5;
        --max-logo-difference: 0.5;
    }
}

/* Utility */
.transparent {
    background-color: transparent;
}

.hide {
    display: none;
}
