.clients-logos-container {
    --logo-gap: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--logo-gap);
    row-gap: 0rem;

    img {
        margin-block: calc(var(--logo-gap) / 2);
        margin-inline: 2rem;
        max-height: 60px;
        max-width: 120px;
    }
}

@media (width < 440px) {
    .clients-logos-container {
        --logo-gap: 2rem;
        flex-direction: column;
    }
}