.clients-logos-container {
    --logo-gap: 3rem;
    --logo-size: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--logo-gap);
    row-gap: 0rem;
}

.client-logo-wrapper {
    position: relative;
    height: var(--logo-size, 100px);
    aspect-ratio: 1;

    img {
        object-fit: contain;
    }
}

@media (width < 500px) {
    .clients-logos-container {
        --logo-gap: 2rem;
        --logo-size: 80px;
    }
}