.hero-paragraph {
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    margin-inline: auto;
    max-width: 30ch;
    text-wrap: pretty;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-word {
    margin-right: 12px;
    font-size: inherit;
    font-weight: inherit;
}

.hero-character {
    font-size: inherit;
    font-weight: inherit;
}

.bold {
    font-weight: 700;
}