.hero-word {
    margin-right: 12px;
    font-size: inherit;
    font-weight: inherit;
}

.hero-character {
    font-size: inherit;
    font-weight: inherit;
}

.bold {
    font-weight: 700;
}

.hero-paragraph-italic {
    font-family: var(--ff-playfair-display);
    font-style: italic;
    font-weight: 600;
}