.home-section-container {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.home-hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    height: 90svh;
}

.home-hero-bg {
    background-color: var(--clr-dark);
    /* Used if the image is unavailable */
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.home-hero-bg>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-hero-text {
    --home-pitch-top: 46%;
    --home-pitch-fs: 1.75rem;
    position: absolute;
    top: var(--home-pitch-top);
    color: var(--clr-light);
    text-align: center;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-pitch {
    line-height: 1.3;
    text-transform: uppercase;
    font-size: var(--home-pitch-fs);
    font-weight: 700;
}

.home-horizontal-scroller-logo-wrapper {
    position: relative;
    height: 80px;
    aspect-ratio: 2;
}

@media (width < 880px) {
    .home-horizontal-scroller-logo-wrapper {
        height: 60px;
    }
}

.home-horizontal-scroller-logo {
    object-fit: contain;
}

.home-about-section {
    padding-block: 10vh;
    padding-block: 10svh;
    padding-inline: var(--section-padding-inline);
    background-color: var(--clr-dark);
    color: var(--clr-light);
    width: 100%;
    margin: auto;
}

.home-about-header,
.home-shortform-header,
.home-productions-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-end: 1rem;
    color: var(--clr-accent);

    h4 {
        font-weight: 600;
    }
}

.home-about-header h4:first-of-type::before,
.home-shortform-header h4:first-of-type::before,
.home-productions-header h4:first-of-type::before {
    content: '';
    display: inline-block;
    background-color: var(--clr-accent);
    border-radius: 50%;
    aspect-ratio: 1;
    height: 0.5rem;
    margin-block-end: 0.25rem;
    margin-inline-end: 0.25rem;
}

.home-about-description {
    margin-block: 3rem;
    margin-inline: auto;
    text-align: center;
    text-wrap: balance;
    font-weight: 500;
}

.home-about-hero-paragraph {
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    margin-inline: auto;
    max-width: 40ch;
    text-wrap: pretty;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.home-about-paragraph {
    color: var(--clr-light-grey);
    text-align: center;
    text-wrap: pretty;
}

.home-about-collage {
    --home-about-collage-image-height: 154px;

    margin-block: 1rem;
    margin-inline: auto;
    width: fit-content;
    display: grid;
}

.home-about-collage-image-wrapper {
    position: relative;
}

.home-about-collage-image-wrapper:nth-child(1) {
    height: var(--home-about-collage-image-height);
    grid-row: 1/2;
    grid-column: 1/2;
    top: 1.5rem;
    right: 0.75rem;
    z-index: 1;
    aspect-ratio: 480/640;
}

.home-about-collage-image-wrapper:nth-child(2) {
    height: var(--home-about-collage-image-height);
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: end;
    top: 3rem;
    left: 0.25rem;
    z-index: 0;
    filter: brightness(1.2) saturate(1.1);
    aspect-ratio: 855/1280;
}

.home-about-collage-image-wrapper:nth-child(3) {
    height: var(--home-about-collage-image-height);
    justify-self: center;
    z-index: 0;
    aspect-ratio: 1152/768;
}

.home-about-collage-image {
    border-radius: 1rem;
    object-fit: contain;
}

@media (width > 480px) {
    .home-about-collage {
        --home-about-collage-image-height: clamp(160px, 160px + 9vw, 320px);
    }

    .home-about-collage-image-wrapper:nth-child(1) {
        top: 1.25rem;
        right: 2.5rem;
    }

    .home-about-collage-image-wrapper:nth-child(2) {
        top: 3rem;
        left: 3rem;
    }
}

.home-about-link {
    margin-block-start: 2rem;
}

@media (width > 1160px) {
    .home-about-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .home-about-header {
        margin-block-end: unset;
    }

    .home-about-description {
        margin-block-start: 2rem;
        margin-block-end: unset;
    }

    .home-about-paragraph {
        text-align: start;
    }

    .home-about-collage {
        margin-block: unset;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .home-about-link {
        margin-block-start: unset;
        align-self: end;
        grid-row: 3/4;
    }
}

.home-productions-section {
    padding-block: var(--section-padding-block);
    padding-inline: var(--section-padding-inline);
}

.home-productions-header {
    margin-block-end: 3rem;
}

.home-work-link {
    margin-block-start: 3rem;
}

.home-shortform-section {
    padding-block: var(--section-padding-block);
    padding-inline: calc(var(--section-padding-inline) - 2rem);
    background-color: var(--clr-dark);
    color: var(--clr-light);
    width: 100%;
}

.home-shortform-description {
    margin-block: 3rem;
    margin-inline: auto;
    text-align: center;
    text-wrap: balance;
    font-weight: 500;
}

.home-shortform-description span {
    font-weight: inherit;
    font-family: var(--ff-playfair-display);
    font-style: italic;
    background: linear-gradient(90deg, var(--clr-light), var(--clr-accent) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (width < 880px) {
    .home-hero-text {
        --home-pitch-top: 44%;
        --home-pitch-fs: 1.5rem;
    }
}

@media (width < 550px) {
    .home-hero-text {
        --home-pitch-top: 42%;
        --home-pitch-fs: 0.8rem;
    }
}