.stats-section {
    width: 100%;
    padding-inline: 5%;
    padding-top: var(--section-padding);
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin-inline: auto;
    text-align: center;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (width < 880px) {
    .stats-container {
        grid-template-columns: 1fr;
    }
}