.button-background-effect-container {
    --button-background-effect-height: 55px;
    --button-background-effect-padding-block: 1rem;
    --button-background-effect-padding-inline: 1.5rem;
    --button-background-effect-font-size: 1.25rem;

    position: relative;
    margin-block: 1.5rem;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    justify-items: center;
    height: var(--button-background-effect-height);
}

.button-background-effect-container > * {
    font-family: 'Made Outer Sans';
}

.button-background-effect {
    position: relative;
    z-index: 2;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    padding-block: var(--button-background-effect-padding-block);
    padding-inline: var(--button-background-effect-padding-inline);
    border-radius: 20px;
    font-size: var(--button-background-effect-font-size);
    text-transform: capitalize;
}

.black-background {
    height: 200%;
    width: 108%;
    border-radius: 80%;
    position: relative;
    z-index: 3;
    padding-block: var(--button-background-effect-padding-block);
    padding-inline: var(--button-background-effect-padding-inline);
    font-size: var(--button-background-effect-font-size);
    background-color: var(--clr-dark);
    color: var(--clr-light);
    transition: all ease-out 200ms;
    text-transform: capitalize;
}

/* hover effect */
.button-background-effect:hover {
    color: var(--clr-light);
}

.button-background-effect:hover + .black-background,
.black-background:hover {
    transform: translateY(-75%);
}

@media (width < 550px) {
    .button-background-effect-container {
        --button-background-effect-height: 39px;
        --button-background-effect-padding-block: 0.75rem;
        --button-background-effect-padding-inline: 1.25rem;
        --button-background-effect-font-size: 0.8rem;
    }
}