.about-hero-text {
    position: sticky;
    width: 100%;
    height: fit-content;
    margin-top: 4rem;
    top: 4rem;
    text-wrap: balance;
    z-index: 4;
}

.about-hero-header {
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-weight: 700;
}

.about-hero-paragraph {
    color: var(--clr-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 66%;
    margin-inline: auto;
    font-weight: 500;
    font-family: var(--ff-primary);
    font-size: var(--fs-h4);
    line-height: 1.4;
    text-align: center;
    text-wrap: pretty;
    padding-bottom: 4rem;
}

@media (width < 520px) {
    .about-hero-text {
        margin-top: 3rem;
    }

    .about-hero-header {
        margin-bottom: 3rem;
    }
}

@media (width < 400px) {
    .about-hero-text {
        margin-top: 1.5rem;
    }

    .about-hero-header {
        margin-bottom: 1rem;
    }

    .about-hero-paragraph {
        width: 70%;
    }
}