.about-hero-text {
    width: 100vw;
    margin-top: 5rem;
    text-wrap: balance;
    z-index: 3;
    transform: translateY(calc(0.4vh * var(--scroll)));
}

.about-hero-header {
    margin-bottom: 6rem;
    text-transform: uppercase;
    font-weight: 700;
}

.about-hero-paragraph {
    color: var(--clr-dark);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 66%;
    margin-inline: auto;
    font-weight: 500;
    font-family: var(--ff-primary);
    font-size: var(--fs-h4);
    line-height: 1.4;
    text-align: center;
    text-wrap: pretty;
}

@media (width < 520px) {
    .about-hero-text {
        margin-top: 3rem;
    }

    .about-hero-header {
        margin-bottom: 3rem;
    }
}

@media (width < 400px) {
    .about-hero-text {
        margin-top: 1.5rem;
    }

    .about-hero-header {
        margin-bottom: 1rem;
    }

    .about-hero-paragraph {
        width: 70%;
    }
}