.work-container {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.work-title {
    text-wrap: balance;
    font-weight: 700; 
    text-align: center;
    margin-inline: 2rem;
    margin-block: 1rem;
}

.work-section-container:first-of-type {
    padding-top: 5rem;
}

.work-clients-title {
    text-wrap: balance;
    text-align: center;
    margin-inline: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
