.stills-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

@media (width > 880px) {
    .stills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 1280px) {
    .stills-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.stills-grid-item-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    /* TODO: WILL PROBABLY HAVE TO CHANGE THIS ASPECT RATIO, OR MAKE IT A VARIABLE */
    filter: drop-shadow(0px 0px 0.25rem rgba(255, 255, 255, 0.7));
}

.stills-grid-item {
    border-radius: 12px;
    object-fit: cover;
}