.footer-container {
    width: 100%;
    background-color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.footer-link {
    color: var(--clr-light);
    text-decoration: none;
    font-size: var(--fs-h4);
    margin: 12px;
    transition: all .3s ease-in-out
}

.footer-link:hover {
    transform: scale(1.2);
}