.about-hero-container {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  height: 400vh;
  height: 400svh;
  width: 100%;
  position: relative;
}

.about-hero-sticky-container {
  height: 100svh;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.about-hero-images-container {
  height: 100svh;
  height: 100vh;
  width: 100%;
  position: relative;
  perspective: 100vw;
}

.about-hero-image-wrapper {
  position: absolute;
  will-change: transform;
}

.about-hero-image-wrapper:nth-child(1) {
  aspect-ratio: 1280/959;
  width: 30vw;
  width: 30svw;
  left: 2%;
  top: 4%;
  transform: translate3d(0px, 0px, -100px);
}

.about-hero-image-wrapper:nth-child(2) {
  aspect-ratio: 853/1280;
  width: 27vw;
  width: 27svw;
  right: 3%;
  top: 16%;
  transform: translate3d(0px, 0px, -150px);
}

.about-hero-image-wrapper:nth-child(3) {
  opacity: 0;
  aspect-ratio: 1280/959;
  width: 27vw;
  width: 27svw;
  left: 10%;
  top: 50%;
  transform: translate3d(0px, 0px, -3000px);
}

.about-hero-image-wrapper:nth-child(4) {
  opacity: 0;
  aspect-ratio: 1280/720;
  width: 27vw;
  width: 27svw;
  right: 10%;
  top: 10%;
  transform: translate3d(0px, 0px, -3000px);
}

.about-hero-image-wrapper:nth-child(5) {
  opacity: 0;
  aspect-ratio: 1030/1288;
  width: 27vw;
  width: 27svw;
  left: 2%;
  top: 52%;
  transform: translate3d(0px, 0px, -3000px);
}

.about-hero-image-wrapper:nth-child(6) {
  opacity: 0;
  aspect-ratio: 1280/854;
  width: 27vw;
  width: 27svw;
  right: 0%;
  top: 42%;
  transform: translate3d(0px, 0px, -3000px);
}

.about-hero-text-wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers based on its own size */
}

.about-hero-text-wrapper h3 {
  color: var(--clr-accent);
  text-transform: uppercase;
  font-weight: 500;
}

.about-hero-text-wrapper h1 {
  line-height: 1.15;
}

@media (width < 780px) {
  .about-hero-text-wrapper h3 {
    margin-bottom: 1rem;
  }
}
