.bts-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

@media (width > 880px) {
    .bts-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 1280px) {
    .bts-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.bts-grid-item-wrapper {
    position: relative;
    height: 240px;
    width: 100%;
    filter: drop-shadow(0px 0px 0.25rem rgba(255, 255, 255, 0.7));
}

.bts-grid-item {
    object-fit: contain;
}