* {
  margin: 0;
  box-sizing: border-box;
  /* TODO add a font family you like here */
  font-family: 'Source Sans Pro', sans-serif
}

/* Design system */

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro, monospace';

  --fw-reg: 300;
  --fw-bold: 600;

  --clr-light: #fff;
  --clr-dark: #000;
  --clr-accent: #5d16e0;

  --fs-h1: 3rem;
  --fs-h2: 2.5rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.0rem;
}

@media (width > 820px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.1rem;
      --fs-h3: 1.75rem;
      --fs-body: 1.0rem;
  }
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
body {
  font-size: var(--fs-body);
}




