/* Font Family: Made Outer Sans */

@font-face {
  font-family: 'Made Outer Sans';
  font-weight: 200;
  src: url('/assets/fonts/madeOuterSans/made_outer_sans_thin.woff2'),
  url('/assets/fonts/madeOuterSans/made_outer_sans_thin.woff');
}

@font-face {
  font-family: 'Made Outer Sans';
  font-weight: 300;
  src: url('/assets/fonts/madeOuterSans/made_outer_sans_light.woff2'),
  url('/assets/fonts/madeOuterSans/made_outer_sans_light.woff');
}


@font-face {
  font-family: 'Made Outer Sans';
  font-weight: 400;
  src: url('/assets/fonts/madeOuterSans/made_outer_sans_regular.woff2'),
  url('/assets/fonts/madeOuterSans/made_outer_sans_regular.woff');
}

@font-face {
  font-family: 'Made Outer Sans';
  font-weight: 500;
  src: url('/assets/fonts/madeOuterSans/made_outer_sans_medium.woff2'),
  url('/assets/fonts/madeOuterSans/made_outer_sans_medium.woff');
}

@font-face {
  font-family: 'Made Outer Sans';
  font-weight: 600;
  src: url('/assets/fonts/madeOuterSans/made_outer_sans_bold.woff2'),
  url('/assets/fonts/madeOuterSans/made_outer_sans_bold.woff');
}

@font-face {
  font-family: 'Made Outer Sans';
  font-weight: 700;
  src: url('/assets/fonts/madeOuterSans/made_outer_sans_black.woff2'),
  url('/assets/fonts/madeOuterSans/made_outer_sans_black.woff');
}

/* Font Family: Gotham */

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  src: url('/assets/fonts/gotham/gotham-black-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-black-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/fonts/gotham/gotham-blackitalic-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-blackitalic-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 600;
  src: url('/assets/fonts/gotham/gotham-bold-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-bold-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 600;
  font-style: italic;
  src: url('/assets/fonts/gotham/gotham-bolditalic-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-bolditalic-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 500;
  src: url('/assets/fonts/gotham/gotham-medium-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-medium-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 500;
  font-style: italic;
  src: url('/assets/fonts/gotham/gotham-mediumitalic-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-mediumitalic-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 400;
  src: url('/assets/fonts/gotham/gotham-book-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-book-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/fonts/gotham/gotham-bookitalic-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-bookitalic-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  src: url('/assets/fonts/gotham/gotham-light-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-light-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  font-style: italic;
  src: url('/assets/fonts/gotham/gotham-lightitalic-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-lightitalic-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 200;
  src: url('/assets/fonts/gotham/gotham-xlight-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-xlight-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 200;
  font-style: italic;
  src: url('/assets/fonts/gotham/gotham-xlightitalic-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-xlightitalic-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 100;
  src: url('/assets/fonts/gotham/gotham-thin-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-thin-webfont.woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 100;
  font-style: italic;
  src: url('/assets/fonts/gotham/gotham-thinitalic-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-thinitalic-webfont.woff');
}

/* Font Family: Gotham Ultra */

@font-face {
  font-family: 'Gotham Ultra';
  font-weight: 400;
  src: url('/assets/fonts/gotham/gotham-ultra-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-ultra-webfont.woff');
}

@font-face {
  font-family: 'Gotham Ultra';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/fonts/gotham/gotham-ultraitalic-webfont.woff2'),
  url('/assets/fonts/gotham/gotham-ultraitalic-webfont.woff');
}

/* Design system */

:root {
  --ff-primary: 'Gotham', sans-serif;
  --ff-secondary: 'Made Outer Sans', sans-serif;

  --fw-reg: 300;
  --fw-bold: 600;

  --clr-light: #fff;
  --clr-light-grey: #D9D9D9;
  --clr-grey: #8b8b8b;
  --clr-dark: #000;
  /* --clr-dark: rgba(10, 12, 18, 1); */
  --clr-accent: #FCD848;

  --fs-h1: 3rem;
  --fs-h2: 2.5rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.25rem;
  --fs-body: 1.0rem;

  --scroll: 0;
  --section-padding-block: 2rem;
  --section-padding-inline: 8rem;
}

@media (width > 880px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.1rem;
      --fs-h3: 1.75rem;
      --fs-h4: 1.4rem;
      --fs-body: 1.0rem;

      --section-padding-block: 3rem;
      --section-padding-inline: 10rem;
  }
}

@media (width < 580px) {
  :root {
      --section-padding-block: 2rem;
      --section-padding-inline: 4rem;
  }
}

* {
  /* Reset */
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
  font-weight: 400;
}

/* element styling */
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-secondary);
}
h2 {
  font-size: var(--fs-h2);
  font-family: var(--ff-secondary);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}
body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
}

/* custom scrollbar styling */
body::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--clr-dark);
}
body::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background: var(--clr-light);
  border-radius: 100vw;
  border: 2px solid var(--clr-dark);
}




