.offerings-title {
    padding-inline: 4%;
    text-align: center;
    margin-bottom: 3rem;
}

h3 .grey {
    display: inline;
    color: var(--clr-grey);
}

.offerings-container {
    --offerings-grid-columns: 3;
    display: grid;
    grid-template-columns: repeat(var(--offerings-grid-columns), 1fr);
    justify-items: center;
    gap: 2rem;
    margin-inline: auto;
    width: 90%;
    padding-bottom: var(--section-padding);
}

@media (width < 880px) {
    .offerings-container {
        --offerings-grid-columns: 1;
    }
}