.offerings-title {
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 600;
}

.offerings-container {
    --offerings-grid-columns: 3;
    display: grid;
    grid-template-columns: repeat(var(--offerings-grid-columns), 1fr);
    justify-items: center;
    gap: 2rem;
    margin-inline: auto;
    padding-bottom: var(--section-padding);
}

@media (width < 880px) {
    .offerings-container {
        --offerings-grid-columns: 1;
    }
}